@msg {
    <img src="C:\Users\leandro.marques\Downloads\signalj-chat-java\signalj-chat-java\public\images\faq.jpg" alt="">
    <div id="login" class="row">
        <div id="alert" class="alert alert-danger" role="alert">
            Campo nome* obrigatório !
        </div>
        <form class="form-signin" role="form">
            <h3 class="form-signin-heading">Digite aqui seu texto.</h3>
            <div class="row">
                <label for="inputUsername" class="sr-only">Nome</label>
                <span style="color:black;font-weight:bold">Nome: 
                    <input type="text" id="inputUsername" class="form-control" placeholder="">
                </span>
                <label for="inputEmail" class="sr-only">Email</label>
                <span style="color:black;font-weight:bold">Email: *
                    <input type="email" id="inputEmail" class="form-control" placeholder="">
                </span>
                <label for="inputCGU" class="sr-only">Assunto</label>
                <span style="color:black;font-weight:bold">Assunto *
                </span>
                <textarea cols="33" rows="4" name="message"></textarea>
                <!--div id="chat"-->
                    <!--div class="row"-->
                        <form class="form-inline" role="form"><br></br>
                            <span style="color:black;font-weight:bold">
                                <button type="submit" name="submit" class="btn btn-default" value="Enviar Email">Enviar Email</button>
                                <button type="button" name="leave" class="btn btn-default" data-dismiss="modal" value="Fechar Janela">Fechar Janela</button>
                                <!-- input type="submit" name="submit" value="Enviar Email"/ -->
                                <!-- input type="button" name="leave" value="Fechar Janela" onclick="window.close();" -->
                            </span>
                            <img src="" alt=""> 
                        </form>
                    <!--/div-->
                <!--/div-->
            </div>
        </form> <!-- p>Please note: This is not a real login screen, any username and password will be accepted.</p-->
        <!--div class="row">
            <div id="main" class="col-md-8">
                <div id="messages"-->
                <!--/div--> <!-- input id="talk" type="text" class="form-control" -->
            <!--/div-->
            <!--div id="membersbar" class="col-md-4">
                <ul id="obrigatorio">
                </ul>
            </div-->
        <!--/div-->
        <!--a href"http://www.ulbra.br/"/>Ulbra</a -->
    </div>
}